.box {
  display: flex;
  height: 12vh;
  width: 100%;
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  user-select: none;

}

.utility {
    display: flex;
    height: 12vh;
    width: 100%;
    background-color: rgb(94,94,94);
    color: white;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    user-select: none;

}

.cButton {
  display: flex;
  height: 12vh;
  width: 100%;
  background-color: rgb(192, 52, 52);
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  user-select: none;

}

.equals {
  display: flex;
  height: 12vh;
  width: 100%;
  background-color: rgb(186, 131, 29);
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  user-select: none;
  grid-column: 3 / 5;

}



